.div-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    background-color: lightgray;
    
    
}

.main-card {
    border: 0px !important;
    border-radius: 7% !important;
    width: 40rem;
    
}

.card {
    margin: 8px;
}

.bot-side {
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none !important;
}

.p-16 {
    padding: 16px !important;
}

.m-16 {
    margin: 8px;
}

.card-title {
    text-align: center;
}

.all-center {
    display: contents !important;
    
}

#mainImg {
    max-height: 350px;
    object-fit: contain;
}

.answer:hover {
    cursor: pointer;
    background-color: lightgray;
}

.home {
    object-fit: contain;
    max-height: 33.99px;
}

.home:hover {
    cursor: pointer;
}

.bg-success {
    color: white;
}

.bg-danger {
    color:white;
}




